<div class="wrapper main">
  <div class="wrapper-about info-area main-wrapper">
    <section>
      <div class="title animation-title main-title-line-height">
        <h2>Fundraiser</h2>
      </div>
      <div class="title-bar"></div>
      <div>
        <h3>Amigos / Barátaink / Friends</h3>
        <p class="paragraph">
            This is the story: Pablo Coronel, the director of the film Cumbia La Reina got so excited about having his film in D&eacute;li-Doku that he emailed us saying he would love to come. He is currently living in Portugal, so he is not that far, but he has no money. We tried with the Argentine embassy, but they have already helped us so much, that they would like to pay for this plane ticket, but they just can’t. Neither we can pay for it, we are organizing this event on $0.00, but we like it that way so we don’t have to charge for tickets and all the events will be for free.
        </p>
        <p class="paragraph"> 
          For example, the first night of D&eacute;li-Doku on November 8th, we will screen Cumbia La Reina in House Bar, were they will offer the viewers delicious Argentine empanadas for free, the Argentine embassy will also offer a glass of wine for everybody and then comes a Cumbia party. The same event will be held on the 10th of November and you all of course are invited to come. The thing is that Pablo, the director of the film, is also a Cumbia DJ and he would love to play his Cumbia set here for everybody, and we thought it’s actually a great idea: a great night for us to enjoy and a great event for Pablo, where he will share his film with us in person, but he will also share his passion for cumbia. He said he is willing to sleep on a couch, so that means he is not looking for paid holidays, he just wants to come and be part of the screening of his film.
        </p>
        <p class="paragraph">
            So we thought about organizing this fund-raiser for his plane ticket. It’s around €200 and if you feel you want to give 5 or 10 to the cause, this will be arranged in no time and we will all dance to Cumbia in November.
        </p>
        <p class="paragraph">
            We will only run this fund-raiser today (Monday) until Wednesday and hopefully we will reach our goal. Find below a link for an excel file where everybody will see how much money has been collected and the names of the funders, who will be invited to the screening on the 8th of November. Also, for the purpose of being fair and clean, the money will be supervised by Juan Pablo Munoz, who is not connected officially to Déli-Doku as an organizer, also the money will go to his account.
        </p>
        <div class="info-area">
            <p [ngStyle]="{'font-weight': 700}">Name:</p><p>Juan Pablo Munoz</p>
            <p [ngStyle]="{'font-weight': 700}">Bank:</p><p>OTP Bank</p>
            <p [ngStyle]="{'font-weight': 700}">Bank account:</p><p>11773023-00439743</p>
        </div>
        <p class="paragraph" style="cursor: pointer; text-decoration: underline" (click)="openLink()">View excel</p>
        <p class="paragraph">Thanks for your collaboration and hope to see you all on the 8th of November for Cumbia and party.</p>
      </div>
      <div class="video-wrapper" *ngIf="trailerSafe">
        <iframe width="100%" frameBorder="0" height="400px" [src]=trailerSafe allowfullscreen></iframe>
      </div>
    </section>
  </div>
</div>