.wrapper {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}

.wrapper-footer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-p {
    font-size: 0.7rem;
    cursor: pointer;
    text-decoration: none;
}

.footer-p:hover {
    text-decoration: underline;
}