.links-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.links {
    list-style-type: none;
    padding-right: 12px;
    
}

.links-a:hover {
    border-bottom: 1px solid white;
}

.links-a {
    color: white;
    cursor: pointer;
    
}

.links:after {
    color: white;
}

.links:last-child {
    content: ' ';
}

.nav-bar__link {
    cursor: pointer;
    height: 20px;
    list-style-type: none;
    margin-top: 30px;
    text-align: center;
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.nav-bar__link-a {
    color: #2E2E2E;
    /* color: rgba(111, 201, 198, 0.6); */
    cursor: pointer;
}

.nav-bar__link-a:hover {
    color: #6fc9c6;
}

.active {
    color: #6fc9c6;
}
