<div class="wrapper">
    <div class="wrapper-parallel">
        <div class="title main-title-line-height">
            <h1 class="animation-title">{{ title | translate }}</h1><div class="film-icon"></div>
        </div>
        <div class="title-bar"></div>
        <section class="parallel-area">
            <h2 class="center">
                {{ year }}
            </h2>
            
            <ng-container *ngFor="let cat of categories; let i = index">
                <h2 *ngIf="i === 1"class="center mb-16">{{ 'FILMS.SPECIAL_SCREENINGS' | translate }}:</h2>
                <h2 class="yellow-color" [class.center]="i === 0">{{ cat.name | translate }}</h2>
                <app-films-list [films]="cat.films"></app-films-list>
            </ng-container>
        </section>
    </div>
</div>