<div class="wrapper">
    <div class="wrapper-about info-area">
        <section>
            <div class="title animation-title main-title-line-height">
                <h1>About</h1>
            </div>
            <div class="title-bar"></div>
            <div>
                <p>D&eacute;li-Doku brings to Budapest the finest in modern documentary film production from Latin
                    America and brings along the Latin-American feeling. Starting in 2017 as an alternative film event,
                    D&eacute;li-Doku goes beyond the cinema experience by taking the screenings to both public and
                    private locations, such as apartments, social organizations, artistic venues and such, generating a
                    series of social happenings connected with today's alternative ways of cinema distribution.
                </p>
            </div>
            <ul>
                <li>It’s - Contemporary - because we want to show what’s going on in the world through different views</li>
                <li>It’s - Latin American - because we all could use some warmth of the “southern continent” during a
                    chilling hungarian autumn</li>
                <li>It’s - Documentary film - because it provides the ultimate cultural immersion you can have from
                    afar</li>
                <li>It’s - Festival - because we, latinos, love a good party</li>
            </ul>
        </section>
        <div>
            <h2 class="title mb-4">AND DID WE MENTION THAT ALL SCREENINGS ARE FREE OF CHARGE? AND IF YOU ARE LUCKY,
                EVEN SOME WINE TOO!</h2>
        </div>
        <div class="section-why">
            <h2>
                Why we do it?
            </h2>
            <p>We want to bring Latin America a little closer to Budapest. And there’s not better way to do this than
                sharing their real stories told in a new way: the documentary cinema.
                More than pleasing documentary film lovers, we from the Déli Doku team want to invite new lovers to
                join this hub and discover the beauty of watching these real stories being told through the lenses of a
                camera. More importantly, we want to promote, support and elevate the documentary film industry.</p>
        </div>
        <div class="section-why">
            <div class="screening-imgs">
                <div class="flex-items-screening">
                    <h2>
                        How we do it?
                    </h2>
                    <p>
                        Our crew is made of volunteers who believe in the idea of this festival and dedicate their free
                        time to create and promote the event.
                        The support from embassies, cultural centers and distributors is crucial, since we run all our
                        activities basically on a zero budget.
                        Sponsor are always welcome so if you have a business and you want to support us don’t be shy
                        and drop us an email.
                    </p>
                </div>
                <div class="img-screening-wrapper post-happening-icons">
                    <div class="public-img"></div>
                </div>
            </div>
        </div>
        <!-- <div>
      <h2 class="title">Post happening</h2>
    </div>
    <div class="screening-imgs">
      <div class="flex-items-screnning">
        <p>After the films there will be thematic talks accompanied by latin food, drinks and even some dancing. Each one of the screenings is sponsored either by an organization or an individual. If you would like to know more about how to sponsor a screening, please contact us!</p>
        <div (click)="facebookNavigate()" class="fa fa-facebook-square social-icon"></div>
      </div>
      <div class="img-screening-wrapper post-happening-icons">
        <div class="drink-icon"></div>
        <div class="food-icon"></div>
      </div>
    </div> -->
    </div>
</div>