.wrapper {
    background-color: white;
}

.wrapper-about {
    margin: 0 auto;
}

.deli-img {
    width: 100px;
    height: 100px;
    background-image: url(/assets/images/deli-doku-sq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
    right: 20px;
}

.info-area {
    margin: 0 auto;
    padding: 20px 0;
    color: #2E2E2E;
}

.info-area-minus-bottom {
    padding-top: 70px;
    padding-bottom: 0px;
}

.title-unique {
    margin-top: 20px;
}

.title {
    margin-bottom: 20px;
}

.space-screen {
    margin-top: 3rem;
}

.decons-wrapper {
    margin-top: 12px;
}

.decons {
    width: 100%;
    height: auto;
}

.screening-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.screening-text {
    margin-bottom: 20px;
}

.apartmet-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-image: url('/assets/images/icons/home_screening-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.public-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-image: url('/assets/images/icons/public_screening-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.for-desktop {
    display: initial;
    
}

.for-mobile {
    display: none;
}

/* Icons  */

.post-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.film-icon {
    width: 250px;
    height: 250px;
    background-image: url('/assets/images/icons/screening-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.drink-icon {
    width: 250px;
    height: 250px;
    background-image: url('/assets/images/icons/drinking-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.food-icon {
    width: 250px;
    height: 250px;
    background-image: url('/assets/images/icons/eating-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Animation  */

.animation-title {
   opacity: 1;
    -webkit-animation-name: title; /* Safari 4.0 - 8.0 */
     -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
     animation-name: title;
     animation-duration: 3s;
     animation-fill-mode: forwards;
     -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* responsive  */

@media only screen and (max-width: 768px) {

    .for-desktop {
        display: none;
    }

    .for-mobile {
        display: inherit;
    }

    .info-area {
        width: 90%;
    }

    .hero-message {
        width: 90%;
    }

    .deli-img {
        display: none;
    }

    .title {
        margin-top: 45px;
    }

    decons {
        height: 350px;
    }
}

@media (min-width: 769px) and (max-width: 1250px) {

    .grid-col {
        width: 100%;
    }
}
