<div #contentWrapper class="wrapper" [ngClass]="(mobileScreen===true)? 'mobile-screen-width' : 'big-screen-width'">
  <div class="wrapper-about col-8">
    <section class="info-area">
      <div class="center">
        <h1 class="title">Contemporary Latin-American Documentary Film Showcase</h1><h2> November of 2017</h2>
      </div>
      <p>Déli-Doku brings to Budapest the finest in modern documentary film
        production from Latin America and brings along the Latin-American feeling. Starting in 2017 as an alternative film event, Déli-Doku goes beyond the cinema experience by taking the screenings to both public and private locations, such as apartments, parks, social organizations, artistic venues and such, generating a series of social happenings connected with today's alternative ways of cinema distribution.
      </p>
    </section>
    <div>
      <h1 class="title animation-title center space-screen">All the screenings of Déli-Doku are free of charge!</h1>
      <div class="post-icons">
        <div class="film-icon"></div>
      </div>
    </div>
  </div>
  <div class="wrapper-about group col-8">
    <section class="info-area">
      <h1 class="title">Each film will have two screenings:</h1>
      <div class="for-desktop group">
        <div class="col-6 grid apartmet-img"></div>
        <div class="col-6 grid vertical-center">
          <p class="">Apartment screening: A person shares her/his apartment with other people invited to watch the film, creating an intimate experience that ultimately becomes a celebration.</p>
        </div>
        <div class="col-6 grid vertical-center">
          <p>Public space: Cultural institutions, social organizations, libraries, bars, parks, etc. The options are open.<br/> The films are looking for the best places and the ideal audiences for them.</p>
        </div>
        <div class="col-6 grid public-img"></div>
      </div>
      <div class="for-mobile group">
        <div class="col-6 grid grid-col apartmet-img"></div>
        <div class="col-6 grid grid-col vertical-center">
          <p class="">Apartment screening: A person shares her/his apartment with other people invited to watch the film, creating an intimate experience that ultimately becomes a celebration.</p>
        </div>
        <div class="col-6 grid grid-col public-img"></div>
        <div class="col-6 grid grid-col vertical-center">
          <p>Public space: Cultural institutions, social organizations, libraries, bars, parks, etc. The options are open.<br/> The films are looking for the best places and the ideal audiences for them.</p>
        </div>
      </div>
    </section>
    <div>
      <h1 class="title animation-title center">Post happening!</h1>
    </div>
    <div class="post-icons">
      <div class="drink-icon"></div>
      <div class="food-icon"></div>
    </div>
  </div>
  <div class="wrapper-about col-8">
    <section class="info-area">
      <p>After the films there will be thematic talks accompanied by latin food, drinks and even some dancing.</p>
      <p> Each one of the screenings is sponsored either by an organization or an individual. If you would like to know more about how to sponsor a screening, please contact us!</p>
    </section>
  </div>
  <app-footer></app-footer>
</div>
