.wrapper {
    width: 100vw;
    background-color: #BC3926;
}

.wrapper-about {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.deli-img {
    width: 100%;
    height: 80vh;
    background-image: url('/assets/images/deli-doku-sq.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.info-area {
    margin: 0 auto;
    padding: 20px 0;
    color: white;
}

.food {
    background-image: url('/assets/images/food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero {
    left: 0;
    height: 80vh;
    width: 100vw;
    position: relative;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.5);
}

.hero-message {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  black;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.apartmet-img {
    background-image: url('/assets/images/icons/home_screening-01.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.public-img {
    background-image: url('/assets/images/icons/public_screening-01.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid {
    float: left;
    height: 313px;
}

.vertical-center {
    transform: translateY(25%);
}

.for-desktop {
    display: initial;
    
}

.for-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {

    .for-desktop {
        display: none;
    }

    .for-mobile {
        display: inherit;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .grid {
        height: 626px;
    }
}
