<div class="wrapper">
    
    <div class="wrapper-parallel">
        <div class="title main-title-line-height">
            <h1 class="animation-title">{{ title }}</h1><div class="film-icon"></div>
        </div>
        <div class="title-bar"></div>
        <section class="parallel-area">
            <h2 class="center">
                {{ year }}
            </h2>
            <app-films-list [films]="films"></app-films-list>
        </section>
        <!-- <div>
            <h2 class="title animation-title">Parallel showcase:</h2>
        </div> -->
        <!-- <section class="parallel-area">
            <p>For the first edition of Déli-Doku there was a section of short documentary films from the renowned
                EICTV film school in Cuba, curated by Adam Breier, Hungarian film director and former student of
                the school.
            </p>
        </section> -->
    </div>
</div>
