.main-wrapper {
    margin: 0;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 720px;
    padding-bottom: 70px;
}

.wrapper-parallel {
    margin: 0 auto;
    padding: 12px;
}

.parallel-area {
    width: 100%;
    padding: 20px 0;
}

.title {
    padding-top: 70px;
    margin-bottom: 20px;
}

.parallel-title-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    right: 80px;
    top: 70px;
}

.film-icon {
    width: 80px;
    height: 80px;
    background-image: url('/assets/images/icons/screening-01.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    .post-icons {
        display: none;
    }

    .parallel-area {
        width: 100%;
    }
}
