.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 80%;
    height: 85%;
}
