.wrapper {
    background-color: #BC3926;
}

.wrapper-contact {
    margin: 0 auto;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.contact-title-wrapper {
    width: 100%;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-title {
   opacity: 1;
    -webkit-animation-name: title; /* Safari 4.0 - 8.0 */
     -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
     animation-name: title;
     animation-duration: 3s;
     animation-fill-mode: forwards;
     -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
