ul {
    padding: 0;
}

.open {
    position: fixed;
}

.menu-symbol {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    left: 20px;
    z-index: 10;
    display: none;
}

.close {
    display: none;
}

.nav-bar-wrapper {
    position: fixed;
    z-index: 12;
}

.links {
    width: 100%;
    max-width: 1000px;
}

.nav-bar {
    background-color: #EAECEE;
    padding-top: 25vh;
    position: absolute;
    width: 150px;
    color: #2E2E2E;
    height: 100vh;
    z-index: 10;
    display: none;
}

.nav-bar-animation {
    -webkit-animation-name: navAnimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: navAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes navAnimation {
    from {
        left: -250px;
    }
    to {
        left: 0;
    }
}

/* Standard syntax */
@keyframes navAnimation {
    from {
        left: -250px;
    }
    to {
        left: 0;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes empty {
    from {
        background-color: rgba(23,32,42, 0);
    }
    to {
        background-color: rgba(23,32,42 0.2);
    }
}

/* Standard syntax */
@keyframes empty {
    from {
        background-color: rgba(23,32,42, 0);
    }
    to {
        background-color: rgba(23,32,42, 0.2);
    }
}

.title-wrapper {
    display: block;
    margin: 8%; 
    margin-left: auto;
    margin-right: auto;
}

.social {
    border-top: 1px solid #EAECEE;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.social-icon {
    cursor: pointer;
    font-size: 20px;
    fill: #EAECEE;;
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.social-icon:hover {
    fill: #6fc9c6;
}

.header {
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 13;
    background-color: transparent;
    transition: all 0.5s ease-out;
}

.page-scroll-header {
    background: #a01f61;
    background: -moz-linear-gradient(45deg, #a01f61 0%, #bc3926 100%);
    background: -webkit-linear-gradient(45deg, #a01f61 0%,#bc3926 100%);
    background: linear-gradient(45deg, #a01f61 0%,#bc3926 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a01f61', endColorstr='#bc3926',GradientType=1 );
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

@media only screen and (max-width: 768px) {
    
    .nav-bar__link-a {
        color: #EAECEE;
    }

    .menu-symbol {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.5);
        box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.5);
    }

    .nav-bar {
        display: block;
        width: 80%;
        max-width: 320px;
        padding-top: 16px;
        position: absolute;
        background-color: #2E2E2E;
        color: #EAECEE;
        height: 100vh;
        z-index: 10;
    }

    .nav-bar-wrapper {
        height: 100vh;
        width: 100vw;
    }

    .logo-wrapper {
        display: block;
    }

    .links {
        display: none;
    }

    .nav-bar-empty {
        height: 100vh;
        cursor: pointer; 
        background-color: rgba(23,32,42, 0);
        -webkit-animation-name: empty; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
        animation-name: empty;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    .close {
        display: flex;
        left: 80%;
    }

    .social-icon {
        color: #EAECEE;
    }

    .social {
        border-top: 1px solid #EAECEE;
    }

    .header {
        z-index: 10;
        background-color: transparent;
    }

    .page-scroll-header {
        /* everything transparent */
        background-color: transparent;
        background: transparent;
        box-shadow: 2px 0px 20px 0px rgba(0,0,0,0);
    }

}
