<header class="header" [ngClass]= "{'page-scroll-header': isScrolled}">
    <div 
      class="menu-symbol open" 
      *ngIf="showNavBar===false"
      (click)="openNavBar()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
  <div class="logo-wrapper" (click)="onSelect('home')">
    <div class="logo"></div>
  </div>
  <app-links class="links"></app-links>
  <app-logo></app-logo>
</header>
<div *ngIf="showNavBar" class="nav-bar-wrapper" >
  <nav  class="nav-bar" [ngClass]="{'nav-bar-animation': bigScreen===false }">
    <div class="menu-symbol close" (click)="closeNavBar()"><i class="fa fa-times" aria-hidden="true"></i></div>
    <app-links
      [isMobile]="true"
      (linkClicked)="closeNavBar()">
    </app-links>
    <div class="social-wrapper">
      <div class="col-10 social">
        <div (click)="facebookNavigate()" class="fa fa-facebook-square social-icon"></div>
        <!-- <div class="fa fa-twitter-square social-icon"></div> -->
      </div>
    </div>
  </nav>
  <div
    *ngIf="bigScreen === false"
    class="nav-bar-empty"
    (click)="closeNavBar()">
  </div>
</div>
