ul {
    padding: 0;
}


li {
    font-family: 'Poppins', sans-serif;
}

.menu-symbol {
    color: #EAECEE;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 25px 5px 5px;
    position: absolute;
    left: 10px;
    left: 20px;
    z-index: 10;
}

.open {
    position: fixed;
}

.close {
    left: 200px;
}

.nav-bar-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 12;
}

.nav-bar {
    position: absolute;
    width: 250px;
    background-color: #17202A;
    color: #EAECEE;
    height: 100vh;
    z-index: 10;
    -webkit-box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.5); 
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes navAnimation {
    from {
        left: -250px;
    }
    to {
        left: 0;
    }
}

/* Standard syntax */
@keyframes navAnimation {
    from {
        left: -250px;
    }
    to {
        left: 0;
    }
}

.nav-bar__link {
    cursor: pointer;
    height: 20px;
    list-style-type: none;
    margin-top: 40px;
    text-align: center;
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.nav-bar__link-a {
    color: #EAECEE;
}

.nav-bar__link-a:hover {
    color: #BC3926;
}

.nav-bar__link-a.active {
    color: #BC3926;
}

.nav-bar-empty {
     height: 100vh;
     cursor: pointer; 
     background-color: rgba(23,32,42, 0);
     -webkit-animation-name: empty; /* Safari 4.0 - 8.0 */
     -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
     animation-name: empty;
     animation-duration: 0.3s;
     animation-fill-mode: forwards;
     -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes empty {
    from {
        background-color: rgba(23,32,42, 0);
    }
    to {
        background-color: rgba(23,32,42 0.2);
    }
}

/* Standard syntax */
@keyframes empty {
    from {
        background-color: rgba(23,32,42, 0);
    }
    to {
        background-color: rgba(23,32,42, 0.2);
    }
}

.title-wrapper {
    display: block;
    margin: 8%; 
    margin-left: auto;
    margin-right: auto;
}

.social-wrapper {
    position: absolute;
    width: 100%;
    bottom: 15%;
}

.social {
    border-top: 1px solid #EAECEE;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.social-icon {
    cursor: pointer;
    font-size: 20px;
    color: white;
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.social-icon:hover {
    color: #BC3926;
}
