.app {
    background: #a01f61;
    background: -moz-linear-gradient(45deg, #a01f61 0%, #bc3926 100%);
    background: -webkit-linear-gradient(45deg, #a01f61 0%,#bc3926 100%);
    background: linear-gradient(45deg, #a01f61 0%,#bc3926 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a01f61', endColorstr='#bc3926',GradientType=1 );
    position: relative;    
}
