.wrapper-contact {
    margin: 0 auto;
    padding: 12px;
    height: 100vh;
}

.contact-title-wrapper {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-title {
    margin: 40px 0;
    cursor: pointer;
}

.wrapper-parallel {
    margin: 0 auto;
    padding: 12px;
}

.parallel-area {
    width: 80%;
    padding: 20px 0;
    color: white;
}

.title {
    padding-top: 70px;
    margin-bottom: 20px;
}

.main-title-line-height {
    line-height: 1.3;
}

.title-bar {
    width: 50px;
    height: 4px;
    background-color: #70C9C5;
}

.parallel-title-wrapper {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation-title {
    opacity: 1;
     -webkit-animation-name: title; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
      animation-name: title;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
 }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}