<ng-container *ngFor="let film of films; let i = index">
    <div class="film-main-info" (click)="openFilmInfo(film.title)" [ngClass]="selectedFilm !== film.title? 'border-bottom' : ''">
        <div>
            <h3>{{film.title}} <ng-container *ngIf="film.duration">({{film.duration}} {{ 'FILMS.MINS' | translate }})</ng-container></h3>
            <p *ngIf="film.author">{{film.author}} - {{film.country}} <ng-container *ngIf="film.year">({{film.year}})</ng-container><ng-container *ngIf="film.subtitleNote"> - {{ film.subtitleNote | translate }}</ng-container></p>
            <div class="film-info-events">
                <p *ngIf="film.date.length">{{ 'FILMS.SCREENING' | translate }}:</p>
                <ng-container *ngFor="let d of film.date">
                    <p>
                        <a href="{{d.event}}" target="_blank"> {{d.info}}</a>
                    </p>
                </ng-container>
            </div>
        </div>
        <div *ngIf="selectedFilm !== film.title" class="fa fa-chevron-circle-down social-icon"></div>
        <div *ngIf="selectedFilm === film.title" class="fa fa-chevron-circle-up social-icon"></div>
    </div>
    <div class="film-secondary-info" *ngIf="selectedFilm === film.title" [ngClass]="selectedFilm === film.title? 'border-bottom' : ''">
        <div class="video-wrapper" *ngIf="film.trailerSafe; else noTrailer">
            <iframe width="100%" frameBorder="0" height="400px" [src]=film.trailerSafe allowfullscreen></iframe>
        </div>
        <ng-template #noTrailer>
            <h4 class="center mb-16">{{ 'FILMS.NO_TRAILER' | translate }}</h4>
        </ng-template>
        <div *ngIf="film.synopsis" class="film-description">
            <p>{{film.synopsis}}</p>
        </div>
        <div class="bottom-padding"></div>
    </div>
</ng-container>