<div #contentWrapper class="wrapper">
  <div class="wrapper-parallel col-8">
    <div class="parallel-title-wrapper center"><h1 class="animation-title">Parallel showcase</h1></div>
    <section class="parallel-area">
      <p>For the first edition of Déli-Doku there will be a section of shortdocumentary films 
        from the renowned EICTV filmschool in Cuba, curated by Adam Breier, Hungarian film director 
        and former student of the school.
      </p>
    </section>
    <div class="parallel-title-wrapper center">
      <h3 class="animation-title">FILMS TBA</h3>
      <div class="film-img"></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>