.deli-img {
    width: 100px;
    height: 100px;
    background-image: url(/assets/images/deli-doku-sq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.animation-logo {
    opacity: 1;
    -webkit-animation-name: logo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: logo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo {
    from {
        opacity: 0;
        transform: translateX(120%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* Standard syntax */
@keyframes logo {
    from {
        opacity: 0;
        transform: translateX(120%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 768px) {
    .deli-img {
        display: none;
    }
}