<div class="wrapper" [ngClass]="(mobileScreen===true)? 'mobile-screen-width' : 'big-screen-width'">
  <div class="wrapper-parallel col-6">
    <div class="parallel-title-wrapper center"><h2 class="title animation-title">Films</h2></div>
    <section class="parallel-area">
      <p>The official selection is composed of 7 films from different Latin American countries. It will be announced on October the 15th.
      </p>
    </section>
    <div class="parallel-title-wrapper center">
      <div class="film-icon"></div>
    </div>
    <div class="parallel-title-wrapper center"><h2 class="title animation-title">Parallel showcase</h2></div>
    <section class="parallel-area">
      <p>For the first edition of Déli-Doku there will be a section of short documentary films from the renowned EICTV film school in Cuba, curated by Adam Breier, Hungarian film director and former student of the school.
      </p>
    </section>
    <div class="video-wrapper">
        <app-gif [video]="video"></app-gif>
    </div>
  </div>
  <app-footer></app-footer>
</div>
