<div class="wrapper" [ngClass]="(mobileScreen===true)? 'mobile-screen-width' : 'big-screen-width'">
  <div class="post-icons">
    <div class="film-icon"></div>
  </div>
  <div class="wrapper-parallel">
    <div class="title main-title-line-height">
      <h2 class="animation-title">Films</h2>
    </div>
    <div class="title-bar"></div>
    <section class="parallel-area">
      <ng-container *ngFor="let film of films; let i = index">
        <div class="film-main-info" (click)=openFilmInfo(film.title)>
          <p><span class="film-title">{{film.title}}</span> ({{film.duration}}min) by {{film.author}} - {{film.country}}<br>
            Trailer: <span>{{film.trailer}}</span>
          </p>
          <div *ngIf="selectedFilm !== film.title" class="fa fa-chevron-circle-down social-icon"></div>
          <div *ngIf="selectedFilm === film.title" class="fa fa-chevron-circle-up social-icon"></div>
        </div>
        <div class="film-secondary-info" *ngIf = "selectedFilm === film.title">
          <div class="video-wrapper" *ngIf="film.trailerSafe">
              <iframe width="100%" frameBorder="0" height="400px" [src]=film.trailerSafe allowfullscreen></iframe>
            </div>
          <div *ngIf="film.synopsis" class="film-description">
            <p>{{film.synopsis}}</p>
          </div>
          <div class="bottom-padding"></div>
        </div>
      </ng-container>
    </section>
    <div><h2 class="title animation-title">Parallel showcase:</h2></div>
    <section class="parallel-area">
      <p>For the first edition of Déli-Doku there will be a section of short documentary films from the renowned EICTV film school in Cuba, curated by Adam Breier, Hungarian film director and former student of the school.
      </p>
    </section>
  </div>
</div>
