.wrapper {
    background-color: white;
    padding-top: 140px;
}

.wrapper-parallel {
    margin: 0 auto;
    padding: 12px;
}

.parallel-area {
    margin: 0 auto;
    padding: 20px 0;
    color: white;
}

.video-wrapper {
    max-width: 720px;
    width: 100%;
}

.parallel-title-wrapper {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.film-icon {
    width: 250px;
    height: 250px;
    background-image: url('/assets/images/icons/screening-01.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Animations  */

.animation-title {
   opacity: 1;
    -webkit-animation-name: title; /* Safari 4.0 - 8.0 */
     -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
     animation-name: title;
     animation-duration: 3s;
     animation-fill-mode: forwards;
     -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
