<div #contentWrapper class="wrapper" [ngClass]="(mobileScreen===true)? 'mobile-screen-width' : 'big-screen-width'">
  <div class="wrapper-team">
      <div class="title animation-title main-title-line-height">
        <h2 class="team-title-animation">Team</h2>
      </div>
      <div class="title-bar"></div>
    <section class="team-area">
      <div class="team-card center" *ngFor="let t of team">
        <div class="team-img-wrapper">
          <img class="team-img" [src]=t.img alt={{t.name}}/>
        </div>
        <div class="team-content">
          <div [innerHTML]="t.name"></div>
          <p>{{t.role}}</p>
        </div>
      </div>
    </section>
  </div>
</div>
