.wrapper {
}

.wrapper-team {
    margin: 0 12px;
}

.team-title-wrapper {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
}

.main-title-line-height {
    line-height: 1.3;
}

.title-bar {
    width: 50px;
    height: 4px;
    background-color: #70C9C5;
}

.team-title {
   opacity: 1;
    -webkit-animation-name: title; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: title;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.team-area {
    margin: 0 auto;
    padding: 70px 0 20px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-card {
    padding: 1rem 1rem 2rem 1rem;
    margin: 0 auto 30px;
    width: 230px;    
}

.team-img {
    width: 150px;
    height: 150px;
    border-radius: 6px;
}

.team-content {
    height: 100px;
}
