.wrapper-home {
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background: #a01f61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: -moz-linear-gradient(45deg, #a01f61 0%, #bc3926 100%);
    background: -webkit-linear-gradient(45deg, #a01f61 0%,#bc3926 100%);
    background: linear-gradient(45deg, #a01f61 0%,#bc3926 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a01f61', endColorstr='#bc3926',GradientType=1 );
}

.main-title-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.mobile-screen-width {
    width: 100vw;
}

.title-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 90px;
}

.message {
    z-index: 1;
    margin-top: 48px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main-message {
    color: #EAECEE;
    font-weight: 900;
}

.meta-message {
    font-weight: 400;
    margin-bottom: 8px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -100;
    background-attachment: fixed;
}

.fullscreen-bg::after {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main-title-home {
    filter: drop-shadow(1px 1px 5px #2E2E2E);
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    filter: opacity(.9);
}

.video-foreground {
     background-color: rgba(0,0,0,0.2);
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mobile-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/lense.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.social-icon {
    cursor: pointer;
    font-size: 25px;
    fill: #EAECEE;;
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.social-icon:hover {
    fill: #6fc9c6;
}

@media only screen and (max-width: 768px) {

    .title-wrapper {
        top: 10%;
    }
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg {
    height: 300%;
    top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg {
    width: 300%;
    left: -100%;
    }
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%; top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%; left: -100%; 
    }
}
@media all and (max-width: 600px) {
    .vid-info { 
        width: 50%; padding: .5rem;
    }
    .vid-info h1 {
        margin-bottom: .2rem;
    }
}
@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }

    .wrapper {
        right: 0;
        padding: 0;
        justify-content: space-around;
    }

    .title-wrapper {
        padding: 12px;
    }

    .message {
        padding: 12px;
    }

}