.wrapper-home {
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    top: 50%;
    transform: translate(0%, -50%);
    right: 15%;
    position: absolute;
    padding: 40px 60px 10% 60px;
    text-align: left;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
}

.mobile-screen-width {
    width: 100vw;
}

.title-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 90px;
}

.inner-message {
    margin-bottom: 6px;
    color: #EAECEE;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -100;
    background-attachment: fixed;
}

.fullscreen-bg::after {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}

.video-foreground {
     background-color: rgba(0,0,0,0.2);
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mobile-background {
    background-color: #BC3926;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/lense.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.social-icon {
    cursor: pointer;
    font-size: 25px;
    color: white;
    /* color: rgba(111, 201, 198, 0.6); */
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.social-icon:hover {
    color: #6fc9c6;
}

@media only screen and (max-width: 768px) {

    .title-wrapper {
        top: 10%;
    }
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg {
    height: 300%;
    top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg {
    width: 300%;
    left: -100%;
    }
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%; top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%; left: -100%; 
    }
}
@media all and (max-width: 600px) {
    .vid-info { 
        width: 50%; padding: .5rem;
    }
    .vid-info h1 {
        margin-bottom: .2rem;
    }
}
@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }

    .wrapper {
        right: 0;
        padding: 0;
        justify-content: space-around;
    }

    .title-wrapper {
        padding: 12px;
    }

    .message {
        padding: 12px;
    }

}