<div #contentWrapper class="wrapper">
  <div class="wrapper-title">
      <div class="title animation-title main-title-line-height">
        <h2 class="team-title-animation">Sponsors</h2>
      </div>
      <div class="title-bar"></div>
  </div> 
  <div class="wrapper-team">
    <img class="sponsors-img" [src]="'assets/images/sponsors1.jpg'" alt="sponsors"/>
  </div>
  <div class="center">
    <p style="margin: 20px 0">Follow us!</p>
    <div (click)="facebookNavigate()" class="fa fa-facebook-square social-icon"></div>
  </div>
</div>