.wrapper {
    padding: 0 12px 48px;
}

.wrapper-title {
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
}

.wrapper-team {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}

.sponsors-img {
    width: 100%;
    height: 100%;
}

.team-title-wrapper {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
}

.main-title-line-height {
    line-height: 1.3;
}

.team-title {
   opacity: 1;
    -webkit-animation-name: title; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: title;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.team-area {
    margin: 0 auto;
    padding: 70px 0 20px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-card {
    padding: 1rem 1rem 2rem 1rem;
    margin: 0 auto 30px;
}

.team-img {
    height: 80px;
    border-radius: 6px;
}

.white {
    background-color: white;
    border-radius: 6px;
}

.social-icon {
    cursor: pointer;
    font-size: 20px;
    fill: #EAECEE;;
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.social-icon:hover {
    fill: #6fc9c6;
}
