.wrapper {
    padding: 0 12px 48px;
}

.wrapper-title {
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
}

.wrapper-team {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.sponsors-img {
    width: 100%;
    height: 100%;
}

.partner-img {
    width: 50%;
    height: 100%;
}

.team-title-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
}

.main-title-line-height {
    line-height: 1.3;
}

.team-title {
   opacity: 1;
    -webkit-animation-name: title; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: title;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.team-area {
    margin: 0 auto;
    padding: 70px 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-card {
    padding: 1rem 1rem 2rem 1rem;
    margin: 0 auto 30px;
}

.team-img {
    height: 80px;
    border-radius: 6px;
}

.white {
    color: #EAECEE;
    border-radius: 6px;
}

.social-icon {
    cursor: pointer;
    font-size: 20px;
    fill: #EAECEE;;
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

.social-icon:hover {
    fill: #6fc9c6;
}

.sponsors {
    background-color: white;
}

.sponsors .main-nk {
    background-image: url('assets/images/sponsors/nka_hun.png');
    background-size: contain;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors .main-ben {
    background-image: url('assets/images/sponsors/BEM_MOZI.png');
    background-size: contain;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    justify-content: center;
}

.sponsors-other div {
    width: 200px;
    height: 200px;
}

.sponsors-other .ecuador {
    background-image: url('assets/images/sponsors/ECUADOR.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .brazil {
    background-image: url('assets/images/sponsors/Embassy_Brazil.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .mexico {
    background-image: url('assets/images/sponsors/mexico.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .colombia {
    background-image: url('assets/images/sponsors/colombia.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .chile {
    background-image: url('assets/images/sponsors/chile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .argentina {
    background-image: url('assets/images/sponsors/argentina.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .ametist {
    background-image: url('assets/images/sponsors/ametist.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .aurora {
    background-image: url('assets/images/sponsors/aurora.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .cervantes {
    background-image: url('assets/images/sponsors/cervantes.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .lumen {
    background-image: url('assets/images/sponsors/lumen.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .house-bar {
    background-image: url('assets/images/sponsors/house-bar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsors-other .peters {
    background-image: url('assets/images/sponsors/peters.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
